<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.rhythme.dao.LatestSongDAO">

    <select id="findMostRecentSongByUserId" resultType="com.example.rhythme.dto.LatestSongDTO">
        SELECT
        u.user_id,
        s.song_id as songId,
        s.title,
        s.artist,
        s.audio_file,
        h.learned_at AS last_learned_at
        FROM user_song_history h
        JOIN songs s ON h.song_id = s.song_id
        JOIN users u ON h.user_id = u.user_id
        WHERE h.user_id = #{userId}
        ORDER BY h.learned_at DESC
        LIMIT 1
    </select>

    <insert id="insertUserSongHistory">
        INSERT INTO user_song_history (user_id, song_id)
        VALUES (#{userId}, #{songId})
    </insert>

</mapper>
