<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rhythme.dao.UserDAO">

    <insert id="signup" parameterType="com.example.rhythme.dto.UserDTO" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO users (username, password)
        VALUES (#{username}, #{password});
    </insert>

    <select id="findByUsername" parameterType="String" resultType="com.example.rhythme.dto.UserDTO">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <select id="findAllSongs" resultType="com.example.rhythme.dto.SongDTO">
        SELECT song_id, title, artist, audio_file AS imageUrl, NULL AS progress
        FROM songs
    </select>

    <insert id="Ranking">
        INSERT INTO user_rankings (user_id, song_id, rank, score, time_seconds)
        VALUES (#{userId}, #{songId}, #{rank}, #{score}, #{timeSeconds})
    </insert>

    <select id="findTopRankingsBySongId" resultType="com.example.dto.UserRankingDTO">
        SELECT * FROM user_rankings
        WHERE song_id = #{songId}
        ORDER BY score DESC, time_seconds ASC
        LIMIT 5
    </select>

    <select id="findMyRankings" resultType="com.example.dto.UserRankingDTO">
        SELECT * FROM user_rankings
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

</mapper>