<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.rhythme.dao.RankingDAO">

        <insert id="Ranking" parameterType="com.example.rhythme.dto.RankingDTO">
            INSERT INTO ranking (user_id, song_id, rank, score, play_time, created_at)
            VALUES (#{userId}, #{songId}, #{rank}, #{score}, #{timeSeconds}, #{createdAt})
        </insert>

        <select id="findTopRankingsBySongId" resultType="com.example.rhythme.dto.RankingDTO">
            SELECT * FROM ranking
            WHERE song_id = #{songId}
            ORDER BY score DESC, play_time ASC
            LIMIT 5
        </select>

        <insert id="MyRankings" parameterType="com.example.rhythme.dto.RankingDTO">
            INSERT INTO rankings (user_id, song_id, score)
            VALUES (#{userId}, #{songId}, #{score}, NOW())
        </insert>

        <select id="findMyRankings" resultType="com.example.rhythme.dto.RankingDTO">
            SELECT * FROM ranking
            WHERE user_id = #{userId}
            ORDER BY created_at DESC
        </select>

        <insert id="saveRanking" parameterType="com.example.rhythme.dto.RankingDTO">
            INSERT INTO ranking (user_id, song_id, `rank`, score, play_time)
            VALUES (#{userId}, #{songId}, #{rank}, #{score}, #{playTime})
        </insert>


</mapper>