<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rhythme.dao.VocabQuizDAO">

    <select id="findQuizBySongId" resultType="com.example.rhythme.dto.VocabQuizDTO">
        SELECT sentence, correct_word
        FROM song_quiz
        WHERE song_id = #{songId}
        LIMIT 1
    </select>

</mapper>